<div style="">
<p>Oops... you have some errors in what you're giving us.</p>
<ul style="color: red; width:250px">
  <% flash[:error].each do |error| -%>
      <li><%= error %></li>
  <% end -%>
</ul>
</div>