<div class="film">
  <%= image_tag(@imdb_scraper.poster_uri, :alt=>@imdb_scraper.title) %><br />
  <em><%= @imdb_scraper.title %></em><br />
  <%= "#{@imdb_scraper.director}<br />
    <p>#{film.synopsis}</p>" %>
</div>