<% if @found %>
  <p>Great minds think alike! We already have a request for that.<br />
     Just wait for it to show up on the schedule. :D</p>
<% else %>
  <p>Thank you for your request!</p>
<% end %>
  <p><a href="#" onclick="javascript:unBlock();">Click me</a> to close.</p>