<div class="film">
  <%= link_to image_tag(film.poster.url, :alt=>film.title), film.imdb_permalink %><br />
  <em><%= "#{link_to film.title, film.imdb_permalink}" %></em><br />
  <%= "#{film.director}<br />
  Scheduled viewing: #{film.viewings.last.scheduled_at.strftime("%b %d")}" %>
</div>